<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Full-stack Developer</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
<!--                         <div class="company">Startup Hubs, San Francisco</div> -->
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designed and developed API in web server technologies like Node.js , used database technologies like PostgreSQL. MySQL, MongoDB.
                            </p>  
                        <p>Developed applications in MEAN Stack</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2010 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Computer Enterprises Inc, Chennai, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
               
                
            </section><!--//section-->
